<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Regexator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Regexator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup>
    <userSettings>
        <Regexator.My.MySettings>
            <setting name="OutputEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="AppExitSuccess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GuideFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GuideFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="GuideFormWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="MainFormSplitterDistanceMain" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormSplitterDistancePattern" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MatchTimeout" serializeAs="String">
                <value>00:00:02</value>
            </setting>
            <setting name="FileSystemUseRecycleBin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultRegexOptions" serializeAs="String">
                <value>IgnoreCase, ExplicitCapture, IgnorePatternWhitespace</value>
            </setting>
            <setting name="RecentItemsMaxCount" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="DefaultPatternOptions" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DefaultInputOptions" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultOutputOptions" serializeAs="String">
                <value>Highlight, Info, CarriageReturnSymbol, LinefeedSymbol, TabSymbol, NoCaptureSymbol</value>
            </setting>
            <setting name="GuideFormSplitterDistanceMain" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="FileSystemShowHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FavoriteSnippets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Anchors.NotAssert</string>
                        <string>Anchors.Assert</string>
                        <string>Anchors.NotAssertBack</string>
                        <string>Anchors.AssertBack</string>
                        <string>Anchors.EntireLine</string>
                        <string>Anchors.StartOfLine</string>
                        <string>Anchors.EndOfLine</string>
                        <string>CharacterClasses.AnyMaybeManyLazy</string>
                        <string>CharacterClasses.CharacterGroup</string>
                        <string>CharacterEscapes.NewLine</string>
                        <string>GroupingConstructs.NamedGroup</string>
                        <string>GroupingConstructs.NoncapturingGroup</string>
                        <string>Quantifiers.Count</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HiddenCategories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Substitutions</string>
                        <string>NamedBlocks</string>
                        <string>Latin1Supplement</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProjectExplorerOnLeft" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultReplacementOptions" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="OutputLimitEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputLimit" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="OutputNumberAlignment" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="OutputMatchTableByGroups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputOmitRepeatedInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LinefeedSymbol" serializeAs="String">
                <value />
            </setting>
            <setting name="CarriageReturnSymbol" serializeAs="String">
                <value />
            </setting>
            <setting name="TabSymbol" serializeAs="String">
                <value />
            </setting>
            <setting name="NoCaptureSymbol" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="VisibleRegexOptions" serializeAs="String">
                <value>IgnoreCase, Multiline, ExplicitCapture, Singleline, IgnorePatternWhitespace</value>
            </setting>
            <setting name="DefaultReplacementNewLine" serializeAs="String">
                <value>Lf</value>
            </setting>
            <setting name="DefaultInputNewLine" serializeAs="String">
                <value>Lf</value>
            </setting>
            <setting name="UserGuideFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UserGuideFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="UserGuideFormWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="PatternIndentNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectEntireCurrentLineAfterLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultInputEncoding" serializeAs="String">
                <value>utf-8</value>
            </setting>
            <setting name="SetOptionsIfRequiredBySnippet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckAppVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckAppVersionLastDate" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="CheckAppVersionTimeSpan" serializeAs="String">
                <value>7.00:00:00</value>
            </setting>
            <setting name="TrackActiveItemInSolutionExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmFileInputRemoval" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputHighlightBeforeAfterResult" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegexOptionsDescriptionVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegexOptionsHotkeyNumberVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputWordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PatternWordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplacementWordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InputOutputOrientation" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="MainFormSplitterDistanceInputOutputHorizontal"
                serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormSplitterDistanceInputOutputVertical" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormSplitterDistanceRegexHorizontal" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormSplitterDistanceRegexVertical" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultReplacementText" serializeAs="String">
                <value>$&amp;</value>
            </setting>
            <setting name="MainFormStatusBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GuideSearchDescription" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpaceSymbol" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckAppVersionQuestionDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeExportMode" serializeAs="String">
                <value>CSharpVerbatim</value>
            </setting>
            <setting name="CodeExportMultiline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindResultsMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindResultsMachWholeWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindResultsSearchPattern" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindResultsSearchInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindResultsSearchReplacement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindResultsSearchOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputTextWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputSummaryWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSystemSearchMaxCount" serializeAs="String">
                <value>10000</value>
            </setting>
        </Regexator.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Regexator.My.MySettings>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="DefaultFavoriteSnippets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Anchors.NotAssert</string>
                        <string>Anchors.Assert</string>
                        <string>Anchors.NotAssertBack</string>
                        <string>Anchors.AssertBack</string>
                        <string>Anchors.EntireLine</string>
                        <string>Anchors.StartOfLine</string>
                        <string>Anchors.EndOfLine</string>
                        <string>CharacterClasses.AnyMaybeManyLazy</string>
                        <string>CharacterClasses.CharacterGroup</string>
                        <string>CharacterEscapes.NewLine</string>
                        <string>GroupingConstructs.NamedGroup</string>
                        <string>GroupingConstructs.NoncapturingGroup</string>
                        <string>Quantifiers.Count</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UndoItemsMaxCount" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="RecentSnippetsMaxCount" serializeAs="String">
                <value>16</value>
            </setting>
        </Regexator.My.MySettings>
    </applicationSettings>
</configuration>
