<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Pihrtsoft.Text.RegularExpressions.Linq" publicKeyToken="01b9b207a9c6318e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.30767" newVersion="2.2.1.30767" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>